/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}
body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1; 
}
ol, ul {
  list-style: none; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
  width: 100%;
}
*{
  box-sizing: border-box;
}
body{
  background: #666;
  font-family: 'Montserrat', sans-serif;
}
td{
  border: 1px solid #CCC;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}
button{
  cursor: pointer;
}
.clickable tr:hover, .clickable li:hover{
  cursor: pointer;
}


.positive{
  background: lightgreen !important;
}
.negative{
  background: lightcoral !important;
}


/* MAIN WRAPPER */
.wrapper{
  margin: 20px;
  overflow-y: hidden;
}


/* TOP LEVEL DIVS AND WRAPPERS */
.list{
  float: left;
  min-height: 100%;
  position: fixed;
  width: 49.5%;
}
.lineups{
  color: #FFF;
  float: right;
  width: 49.5%;
}
.list-wrap{
  clear: both;
  display: block;
  max-height: calc(100% - 40px);
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 97%;
}
.lineups-wrap{
  clear: both;
  display: block;
  max-height: calc(100% - 40px);
  overflow-y: scroll;
  position: fixed;
}


/* PLAYERS TABLE HEADERS AND WRAP */
.sticky{
  position: sticky;
  top: 0;
  z-index: 2;
}
.positions{
}
.positions ul{
  display: flex;
  width: 100%;
}
.positions li{
  background: #FF6C00;
  border: 1px solid #FFF;
  color: #FFF;
  flex-basis: 0;
  flex-grow: 1;
  height: 35px;
  line-height: 35px;
  text-align: center;
  user-select: none;
}
.positions li.selected{
  background: #9AE200;
}
.games{
}
.game{
  border-right: 1px solid #CCC;
  float: left;
  width: 33.3333%;
}
.game span{
  background: #333;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  user-select: none;
  width: 50%;
}

.game:last-child span{
  width: 100%;
}

.game span:hover{
  background: #444;
}

.game span.selected{
  background: steelblue;
}

.players-wrap{
  clear: both;
  display: block;
  height: 100%;
  padding-bottom: 0px;
  width: 100%;
}

/* PLAYERS TABLE ROWS AND CELLS */
.players th{
  background: hotpink;
  color: white;
  font-size: 14px;
  padding: 10px 1px;
}
.players tr{
  background: #FFF;
  user-select: none;
}
.players tr:nth-child(odd){
  background: #EEE;
}
.players tr:hover{
  background: #999;
}
td.name{
  font-size: 14px;
  font-weight: bold;
  text-align: left
}
td.ppg{
  font-size: 10px;
}
td.gameinfo{
  font-size: 10px;
}
td.apps{
  font-size: 13px;
}

tr.player{
  width: 100% !important;
}

tr.player td.position{
  font-size: 14px;
  width: 7% !important;
}
tr.player td.name{
  width: 30% !important;
}
tr.player td.team{
  font-size: 12px;
  font-weight: bold;
  width: 8% !important;
}
tr.player td.salary{
  font-size: 14px;
  width: 11% !important;
}
tr.player td.apps{
  width: 20% !important;
}
tr.player td.ppg{
  width: 5% !important;
}
tr.player td.gameinfo{
  width: 19% !important;
}


/* PLAYER EXPANDED */
.player-action{
  background: lightcyan !important;
}
.player-action:hover{
  background: lightcyan !important;
}
.player-action-button{
  background: mediumseagreen;
  color: white;
  font-size: 14px;
  margin: 5px 0;
  padding: 5px 15px;
}

/* PLAYER ADD EXPANDED AREA ON CLICK */
.player-add{
  background: #666 !important;
  color: #FFF;
  display: none;
  min-height: 100px;
}
.player-add-currently-in{
  font-size: 12px;
  font-weight: bold;
}
.player-add-slider{
  margin: 10px 5%;
  width: 90%;
}
.player-add-slider span{
  border: 0 !important;
}
.player-add-slider-number{
  background: none;
  border: none;
  color: #FF6C00;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 40px;
}
.player-add-slider-pct{
  font-size: 16px;
  line-height: 24px;
}
.player-add-button{
  color: 000;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  padding: 5px;
}
#delta-minus{
  background: lightcoral;
}
.rc-slider{
  padding-top: 10px;
}
.player-add-random{
  cursor: pointer;
  height: 28px;
  margin-left: 20px;
}

/* PLAYER CORRELATIONS */
.player-correlations{
  border-top: 1px solid #CCC;
  padding-top: 10px;
}
.add-correlations{
  background: lightblue;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 0;
  width: 100%;
}
.correlation-row{
  margin-bottom: 20px;
  overflow: auto;
}
.correlation-row div{
  float: left;
  text-align: center;
  width: 25%;
}



/* OPTIONS IN PLAYER ADD SECTION */
.player-add-options button{
  background: #333;
  color: white;
  float: left;
  margin: 0 1.25%;
  width: 22.5%;
}

.correlation{
  margin-left: 1.25%;
  width: 97.5%;
}

/*

/* LINEUP TABLES */
.lineup{
  float: left;
  margin: 0 0.66% 20px 0.66%;
  user-select: none;
  width: 32%;
}
.lineup th{
  background: #333;
  color: #FFF;
  font-size: 12px;
  padding: 5px 0;
}
.lineup tr{
  background: #FFF;
  cursor: pointer;
}
.lineup tr.selected{
  background: lightblue;
}
.lineup td{
  color: black;
  font-size: 10px;
  height: 23px;
  padding: 0;
}
.lineup td.team{
  font-weight: bold;
}

/* INDIVIDUAL LINEUP PLAYER ROWS */
.lineup tr td:first-child{
  width: 30px;
}
.lineup tr td:nth-child(3){
  font-size: 12px;
  width: 50px;
}
.lineup tr td:last-child{
  cursor: pointer;
  width: 25px;
}

/* LINEUP TOTALS ROW */
.total td{
  font-size: 12px;
}
.total span{
  display: inline-block;
  font-weight: bold;
  padding-left: 5px;
}
.total td:last-child{
  font-weight: bold;
}


/* EXPOSURES */
.exposure-group{
  float: left;
  margin-right: 2.4%;
  width: 18%;
}
.exposure-group:last-child{
  margin-right: 0;
}
.exposure-group h1{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.exposure-players th{
  font-size: 12px;
}
.exposure-players td{
  font-size: 12px;
  padding: 2px;
}
.exposure-players input{
  height: 24px;
  text-align: center;
  width: 40px;
}
.exposure-totals-range{
  border: none;
  font-size: 11px;
}
.no-borders td{
  border: none;
  font-size: 11px;
}

/* LATEST UPDATE */
.latest-update{
  background: rgba(79,130,87,0.9);
  bottom: 0;
  color: #FFF;
  display: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
}


/* PREMIER LEAGUE TEAMS */
.TOT{background: navy; color: white !important;}
.MU{background: red; color: black !important;}
.NOR{background: limegreen; color: yellow !important;}
.SOU{background: black; color: red !important;}
.ARS{background: white; color: #d5131d !important;}
.LEI{background: #fdbe10; color: #0153a0 !important;}
.NEW{background: #231e20; color: white !important;}
.NOR{background: #00a650; color: #fff200 !important;}
.BOU{background: black; color: #b90e01 !important;}
.EVE{background: #264289; color: white !important;}
.LIV{background: #d11f35; color: white !important;}
.MCI{background: #60a9dd; color: white !important;}
.AVL{background: #680c43; color: #94bde6 !important;}
.WHU{background: #752b3d; color: white !important;}


/* BUNDESLIGA TEAMS */
.S04{background: blue; color: white !important;}
.BAY{background: red; color: blue !important;}
.LEV{background: yellow; color: red !important;}
.BVB{background: yellow; color: black !important;}
.FCA{background: green; color: orangered !important;}
.KOE{background: white; color: crimson !important;}
.FCU{background: crimson; color: yellow !important;}
.F95{background: crimson; color: white !important;}
.SGE{background: black; color: crimson !important;}
.WOB{background: #58bf1d; color: white !important;}
.BSC{background: white; color: dodgerblue !important;}
.SVW{background: darkgreen; color: white !important;}
.SCP{background: black; color: dodgerblue !important;}
.SCF{background: red; color: black !important;}

